langchain
langchain_core
langchain_groq
langchain_huggingface
langchain_community
langchain_text_splitters
langchain_chroma
chromadb
pydantic
uvicorn 
fastapi
requests
numpy 
pandas
python-multipart
pymupdf
langgraph-checkpoint-postgres 
psycopg[binary]
python-dotenv
sentence-transformers